@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
            body {
                margin: 0;
                font-family: 'Segoe UI';
                background: linear-gradient(135deg,#ff512f,#dd2476);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .card {
                background: rgba(255,255,255,0.15);
                padding: 35px;
                border-radius: 20px;
                backdrop-filter: blur(15px);
                width: 320px;
                text-align: center;
            }

            input {
                width: 100%;
                padding: 12px;
                margin: 10px 0;
                border: none;
                border-radius: 10px;
            }

            button {
                width: 100%;
                padding: 12px;
                border: none;
                border-radius: 10px;
                background: black;
                color: white;
            }

            a {
                display: block;
                margin-top: 10px;
                color: white;
            }
    </style>
</head>

<body>

    <div class="card">

        <h3 style="color:white;">Register</h3>

        <form method="post">
            <input type="text" name="Name" placeholder="Full Name" required />
            <input type="email" name="Email" placeholder="Email" required />
            <input type="password" name="Password" placeholder="Password" required />

            <button>Register</button>
        </form>

        <a href="/Account/Login">Back to Login</a>
    </div>

</body>
</html>