<h2>Setup ⚙️</h2>

<form method="get" action="/Home/Dashboard">
    <select>
        <option>English</option>
        <option>Hindi</option>
    </select>

    <label>
        <input type="checkbox" /> Enable Notifications
    </label>

    <button>Next</button>
</form>